 @media screen and (min-width: 992px) {
	 .sm-xs{
 		display: none;
 	}

 }

 @media screen and (max-width: 991px) {
 	.ipad{
		width: 33rem;
 	}
	
	.second-st{
		display: none;
	}	

	.md-lg{
		display: none;
	}
	
	.carousel-control{
		width: 8%;
	}
	.sm-xs img{
		display: block;
		margin:  0 auto;
	}

	.sm-xs {
		margin-top: 3rem;
	}

	.carousel-inner{
		padding-bottom: 6rem;
	}

	.reviews .review h5{
		text-align: center;
	}

	.reviews .review p{
		text-align: center;
	}

	.footer .contacts input, textarea{
		display: block; 
		width: 100% !important;
	}

	.footer #name, #email, #subject, #message{
		margin-top: 1rem ;
	}

	.footer #email{
		margin-left: 0;
	}

 }

 @media screen and (min-width: 767px) {
 	.navbar{
 		display: none;
 	}
 }

 @media screen and (max-width: 767px) {
 	#navig{
 		visibility: hidden;
 	}

 	.navbar{
 		display: block;
 		position: fixed;
 		width: 100%;
 		z-index: 99999;
 	}

 	.brand-mini{
 		color: #fff !important;
 		font-size: 3rem;
 	}
	
	.header{
		height: 60rem;
	}

 	.header .ipad{
 		display: none;
 	}

 	.header-title{
 		margin-top: 19rem;
 	}
	
	.about{
		margin-top: 0;
	}

	.about-case{
		margin-top: 10rem;
	}

 	.about .first-st{
 		display: none;
 	}

 	.mac-bg img{
 		width: 70%;
 		margin-top: 12rem;
 	}

 	.reviews-title-text h3{
 		font-size: 3rem;
 	}

 	.inf-for-form{
 		display: block;
 		margin: 0 auto;
 	}

 	.footer form{
 		padding-top: 3rem;
 		width: 60% !important;
 		display: block !important;
 		margin: 0 auto;
 	}

 	.icons{
 		display: none;
	}

	.modal{
		margin-top: 6rem;
	}

 }

@media screen and (max-width: 620px) {
	.mac-bg{
		height: 40rem;
	}

	.mac-bg img{
		margin-top: 5.5rem;
		width: 35rem;
	}

	.reviews-title-text h3{
		margin-top: 13rem;
	}

	#reset, #submit{
		padding: 1rem 2.5rem;
		font-size: 1.4rem;
		margin: 2rem 0.1rem;
		display: inline-block;
	}

	.item img{
		width: 12rem;
		margin-top: 1.5rem;	
	}
}	

 @media screen and (max-width: 511px){
 	.purchase-now-section input{
		display: block;
		width: 80% !important;
		margin: 0.5rem auto !important;
 	}
 }

@media screen and (min-width: 460px) {
	.case-1{
		display: block;
	}

	.about-slider{
		display: none;
	}
}


@media screen and (max-width: 460px) {
	
	.header-title{
		margin-top: 16rem;
	}

	.case-1{
		display: none;
	}

	.about-slider{
		display: block;
		color: #34495e;
	}

	.about-slider h3{
		font-size: 2rem;
	}

	.about-slider img{
		width: 8.5rem;
		height: 8.5rem;
	}

	.footer form{
		width: 90% !important;
	}	

	/*Замена размеров шрифтов*/
	.header{
		height: 53rem;
	}

	.header-title{
		font-size: 2rem;
	}

	.header-text{
		font-size: 1.6rem;
	}

	.green-but{
		font-size: 1.4rem;
	}

	.blue-but{
		font-size: 1.4rem;
	}

	.about-title{
		font-size: 2rem;
	}

	.about-text{
		font-size: 1.4rem;
	}

	.about-slider h3{
		font-size: 2rem;
	}

	.mac-bg .mac-title h3{
		font-size: 2rem;
	}

	.mac-bg .mac-text p{
		font-size: 1.4rem;
	}

	.reviews .review h5{
		text-align: center;
	}

	.inf-for-form h3{
		font-size: 2rem;
	}

	.inf-for-form p{
		font-size: 1.4rem;
	}

	.copyright-section p{
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 375px) {
	.header-title{
		margin-top: 12.5rem;
	}
	
	.header .green-but{
		display: block;
		font-size: 1.1rem;
		width: 100%;
		margin-top: 2rem;
	}

	.header .blue-but{
		display: block;
		font-size: 1.1rem;
		width: 100%;
		margin-top: 0.8rem !important;
	}

	.mac-bg img{
		width: 30rem;
		height: 19rem;
	}
}